nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 24px 48px;
    justify-content: space-between;

    .nav-links-container{
        display: flex;
        flex-direction: row;
        gap: 36px;
        font-size:x-large;
        font-weight: bold;
    }
}